<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haoshi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".hao.HaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/head"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hao.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".rxjava.example1.RxJava1Activity" />
        <activity android:name=".rxjava.example2.RxJava2Activity" />
        <activity android:name=".tts.TTSActivity" />
        <activity android:name=".mvp.activity.MvpActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".progressbar.ProgressBarActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".listview.ExpandableListViewActivity" />
        <activity android:name=".listview.RecyclerViewActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".sqlite.SqliteActivity" />
        <activity android:name=".sqlite.ormlite.OrmliteActivity" />

        <service android:name=".service.MessengerService" />

        <activity android:name=".scrollview.ScrollActivity" />
        <activity android:name=".sqlite.greendao.GreenDaoActivity" />
        <activity android:name=".view.ViewActivity" />
        <activity android:name=".swipe.SwipeActivity" />
        <activity android:name=".webview.JavaJsActivity" />
        <activity android:name=".rxjava.example3.RxJava3Activity" />
        <activity android:name=".bluetooth.BluetoothActivity"></activity>
    </application>

</manifest>